@charset "utf-8";
body {
    background-color: rgb(155, 80, 224);
}
h2 {
    background-color: darkorchid;
}
@media (min-width: 500px) {
h1 {
    color: pink;
    font-size: 70px;
}
}
p {
    font-size: 2.1em
}
@media (max-width: 700px) {
    h2 {
        color: rgb(143, 34, 89);
        font-size: 60px;
    }
}