@charset "utf-8";
.container {
    padding: 10px;
    height: 500px;
    width: 500px;
    border: solid 1px red;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item1 {
    height: 150px;
    width: 150px;
    background-color: rgb(20, 152, 156);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}
.item2 {
    height: 150px;
    width: 150px;
    background-color: rgb(211, 53, 172);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}
.item3 {
    height: 150px;
    width: 150px;
    background-color: rgb(50, 121, 53);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}

.item4 {
    height: 150px;
    width: 150px;
    background-color: rgb(68, 146, 177);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}

.item5 {
    height: 150px;
    width: 150px;
    background-color: rgb(151, 98, 36);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}
.item6 {
    height: 150px;
    width: 150px;
    background-color: rgb(46, 128, 83);
    border: solid 1px;
    border-radius: 15px ;
    margin: 5px;
}