@charset "utf-8";
.p1::after{
    content: " - Novo conteúdo";
    background-color: blueviolet;
    color: whitesmoke;
}
.p2::before{
    content: " - Novo conteúdo";
    background-color: blueviolet;
    color: whitesmoke;
}
.p3::selection{
    background-color: blueviolet;
    color: white;
}